@import './config.scss';

.container-list {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;

  &.empty {
    justify-content: center;
  }

  img {
    width: 280px;
  }

  p {
    color: $primaryColor;
    font-size: 14px;
    text-align: center;
    display: block;
    font-weight: bold;
  }

  @media screen and (min-width:1024px) {
    img {
      width: 500px;
    }

    p {
      font-size: 20px;
    }
  }
}